<div class="container">
  <h2>Recuperar Senha</h2>
  <form (ngSubmit)="recoverPassword()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input [(ngModel)]="email" name="email" id="email" type="email" class="form-control" required />
    </div>
    <div *ngIf="successMessage" class="alert alert-success">
      {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
    <button type="submit" class="btn btn-primary">Recuperar Senha</button>
  </form>
</div>
